.jumbotron {
    padding: 2rem;
    background-color: rgb(15, 15, 66);
    color: rgb(231, 228, 228);
    border-bottom: 4px solid rgb(196, 16, 16);
    margin-bottom: 0;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Assistant', sans-serif;
}


